.conteiner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.header {
    position: sticky;
    top: 0;
    z-index: 10;
}
img {
    max-width: 100%;
    width: auto;
} 



/* tablet */
@media (min-width:768px) {
    .conteiner {
        max-width: 720px;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-sm-7 {
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-2 {
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-5 {
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-12 {
        flex:0 0 100%;
        max-width: 100%;
    }
}

/* laptop */
@media (min-width:992px) {
    .conteiner {
        max-width: 960px;
    }
    .col-md-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* desktop */
@media (min-width:1200px) {
    .conteiner {
        max-width: 1170px;
    }
}

/* only mobile */
@media (max-width:767px) {
    .col-xs-hidden {
        display: none;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .menu > li {
        margin-top: 15px;
    }
    .menu > li > a {
        color: gold;
    }
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span {
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.25s ease-in-out;
    }
    .nav-mobile-menu span:first-child {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:last-child {
        bottom: 3px;
    }


    .nav-mobile-menu.active-menu span:first-child {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child {
        transform: scale(0);
    }
    
    .menu-wrap {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 320px;
        width: 320px;
        transform: translateX(150%);
    }
    .menu-wrap.active-menu {
        opacity: 1;
        visibility: visible;
        top: 75px;
        left: 0;
        padding: 30px;
        transform: translateX(0);
    }
    .header-row {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
   
}
