body {
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: #1d2126;
}
.logo {
    display: flex;
    justify-content: center;
}
.menu a:hover {
    border: 1px solid white;
    border-radius: 5px;
}
.slider {
    height: 660px;
    background-image: url(images/fon.png);
}
a {
    text-decoration: none;
}
.bgb {
    background-color: #3a454d;
}
.menu a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color:white;
    border: 1px solid transparent;
}
.menu {
    height: 80px;
    align-items: center;

}
.zagolovok {
   margin-top: 225px;
}
.zagolovok > h1 {
    color: white;
    font-size: 36px;
}
.zagolovok > p {
    color: white;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.zagolovok > a {
    color: white;
    width: 125px;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5%;
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
   
}
.zagolovok > a:hover {
    background-color: #23b7a4;
    color: white;
}
.about {
    border-bottom: 2px solid #e1e6ea;
}
.subtitle {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 65px;
}
.subtitle > a {
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #292f36;
}
.subtitle2 {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 65px;
}
.subtitle2 > a {
    border-left: 10px solid #c8cdd0;
    padding-left: 15px;
    text-decoration: none;
    font-size: 36px;
    color: white;
}
.paragraf {
    margin-bottom: 40px;
}
.icons {
    display: flex;
    margin-bottom: 100px;
}
.icon {
    background-color: #c8cdd0;
    margin: 1px;

}
.numbs {
    padding-left: -15px;
    padding-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opus {
    margin-bottom: 10px;
}
.numb:after {
    content: "";
    display: block;
    clear: both;
}
.numb {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    background-color: #23b7a4;
    margin: 0 15px;
    
}
.h3 {
    padding-bottom: 10px;
}
.flexbox {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}
.flexbox:hover .boxes {
    display: flex;
}
.item  {
    background-color: #e1e6ea;
    height: 75px;
    padding-left: 20px;
    padding-top: 15px;
}
.item > a {
    display: block;
    color: #1d2126;
    padding-top: 5px;
}
.boxes {
    display: flex;
    display: none;
    position: absolute;
    top: 125px;
    left: 60px;
}
.box {
    background-color: #3a454d;
    margin: 1px;
}
.photos {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.photos > .a {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    position: absolute;
    bottom: 0px ;
    background-color: #1d2126;
    display: none;
}
.photos:hover .a {
    display: block;
}
.plus {
    position: absolute;
    top: 85px;
    left: 175px;
    display: none;
}
.photos:hover .plus {
    display: block;
}

.photos a {
    color: white;
    font-size: 18px;
}

.showMore {
    height: 165px;
    text-align: center;
    line-height: 165px;
}
.showMore > a {
    border: 2px solid white;
    border-radius: 5%;
    padding: 20px;
    color: white;
    font-size: 14px;
}
.works {
    text-align: center;
}
.works > h2 {
    font-size: 17px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.works > p {
    margin-top: 15px;
    font-size: 16px;
    color: #c8cdd0;
}

/* tablet */
@media (min-width:768px) {
    .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .search {
        height: 80px;
        line-height: 80px;
        position: relative;
    }
    .search > img {
        position: absolute;
        top:17px;
        right: 0px;
    }
    .search input::placeholder{
        color: white;
        font-size: 20px;
        background-color: #1d2126;
        padding: 5px;
    }
    input {
        height: 30px;
        width: 100%;
    }
}

/* desktop */
@media (min-width:1200px) {
    .menu a  {
        padding-left: 10px;
        padding-right: 10px;
    }


}